.container {
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

header {
  display: flex;
}

button {
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
}
p {
  margin-top: 0;
}
.active {
  visibility: visible;
}
.hide {
  visibility: hidden;
}

.close {
  max-height: 0;
  overflow: hidden;
}
